---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: rgb(2 6 23);
}

h1 {
  color: white;
  font-size: 6rem;
}

h2 {
  color: white;
  font-size: 3rem;
}

h3 {
  color: lightgrey;
  font-size: x-large;
  margin-bottom: 4rem;
}

p {
  color: white;
  font-size: x-large;
  margin: 2rem 0;
  line-break: loose;
}

p > a {
  text-decoration: underline;
  color: rgb(14 165 233);
}

blockquote {
  background-color: rgb(30 41 59);
  word-wrap: break-word;
  font-size: large;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
}

li {
  color: white;
  font-size: large;
  margin: 1rem 0;
  margin-left: 1rem;
  line-height: 1rem;
  line-break: loose;
}

ol > li {
  list-style: numeric;
  list-style-position: inside;
}

ul > li {
  list-style: disc;
  list-style-position: inside;
}

pre {
  background-color: rgb(30 41 59);
  word-wrap: break-word;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
}

code {
  color: white;
}

p > code {
  font-size: large;
  background-color: rgb(30 41 59);
  padding: 2px 3px;
}

img {
  width: 75%;
  margin: 0 auto;
}

[hidden] {
    display: none;
}

.highlight .k, .highlight .kv {
  color: plum;
  font-weight: bold;
}

.highlight .kt {
  color: greenyellow;
  font-weight: bold;
}

.highlight .sb {
  color: #e6db74;
}

.highlight .sc {
  color: #e6db74;
}

.highlight .sd {
  color: #e6db74;
}

.highlight .s2 {
  color: #e6db74;
}

.highlight .sh {
  color: #e6db74;
}

.highlight .si {
  color: #e6db74;
}

.highlight .sx {
  color: #e6db74;
}

.highlight .sr {
  color: #e6db74;
}

.highlight .s1 {
  color: #e6db74;
}

.highlight .ss {
  color: #e6db74;
}

.highlight .s, .highlight .dl {
  color: #e6db74;
}

.highlight .n {
  color: cyan;
  font-weight: bold;
}

@media screen and (min-width: 480px) {
    
}