<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
    <title>{{ site.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <main>
        <section class="w-full p-28 md:p-18 bg-gray-800 text-center text-white">
            <h1 class="w-4/6 md:w-full mx-auto my-3 text-5xl md:text-4xl"><span class="text-sky-300 font-bold">Go's</span> not a well-used language in competitive programming. Let's change that.</h1>
            <p class="w-3/6 md:w-full mx-auto my-0 text-2xl md:text-xl indent-0">One LeetCode question at a time...</p>
        </section>
        <section class="w-9/12 mx-auto mt-14 mb-24 text-white text-m">
          <p>Hello World! I recently found out that I really, really enjoy coding in <span class="text-sky-300 font-bold">Go</span> and was surprised that the language didn't see much use in competitive programming. While I understand the fact that its standard library lacks the many regularly-used data structures for a competition, I can't help but see its potential.</p>
          <p>It shares a lot of the syntax of <span class="text-yellow-300 font-bold">Python</span> but has the speed of <span class="text-orange-400 font-bold">Java</span>. When writing code against the clock, <span class="text-sky-300 font-bold">Go</span> makes it easy to get a solution out fast. Also, it's just fun to code with it.</p>
          <p>Since it's hard for me to find many solutions to competitive programming problems and interview questions written in <span class="text-sky-300 font-bold">Go</span> online, I thought I'd share my own implementations. I hope my solutions are helpful!</p>
        </section>
    </main>
  </body>
</html>